/* Header.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribute space between title and links */
    background-color: blue;
    /* Change background color to blue */
    padding: 10px;
    height: 80px;
    /* Increase the height of the navbar */
}

.navbar-title {
    color: white;
    /* Change text color to white */
    font-size: 28px;
    /* Increase font size */
    margin-left: 20px;
    /* Add left margin for positioning */
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-link {
    text-decoration: none;
}

.navbar-button {
    background-color: #007BFF;
    /* Use a lighter blue for the button */
    color: white;
    /* Change text color to white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    /* Add transition for hover effect */
}

.navbar-button:hover {
    background-color: #0056b3;
    /* Darken the button color on hover */
    transform: scale(1.05);
    /* Slightly enlarge button on hover */
}